@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KCCMurukmuruk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCMurukmuruk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


h1,
h2,
h3,
div,
section,
article,
button,
form,
input{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #FFC0CB , #FFA500);
    word-break: keep-all;
}


.top-section{
    display: flex;
    align-items: center;
    margin: -50px auto 0;
}

.top-dog{
    display: block;
    width: 60%;
    height: 60%;
    /* margin: auto; */
}

.text-box{
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
    flex-grow: 1;
    position: relative;
    background-color: #ffff;
    font-family: 'KOTRAHOPE';
}

.speak {
    text-align: center;
    padding: 10px;
    font-size: 24px;

}

.text-box::after {
    border-top: 50px solid #ffff;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 0px solid transparent;
    border-radius: 5px;
    content: "";
    position: absolute;
    top: 20%;
    right: -6%;
    transform: translateY(10px); 
}

.btn {
    display: block;
    margin: auto;
    background-color: salmon;
    border: 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-family: 'KOTRAHOPE';
}




.l-wrap {
    max-width: 760px;
    margin: 30px auto;
}

header {
    margin-top: 100px;
    text-align: center;
}

.title {
    border-radius: 10px;
    font-size: 50px;
    padding: 10px;
    font-family: 'KOTRAHOPE';

}

.guide-line {
    margin-top: 100px;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    font-size: 16px;
    background-color: #FFC0CB;
    
}

ol {
    border-radius: 10px;
    background-color: #F5F5F5;
    margin: 5px 20px;
    box-sizing: content-box;
}

ol li {
    font-family: 'BookkMyungjo-Bd';
    
    padding: 10px;
}


.guide-line p {
    margin-left: 20px;
    font-size: 28px;
    font-family: 'BookkMyungjo-Bd';
}



.art1,
.art2,
.art3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'BookkMyungjo-Bd';

    position: relative;
}


.art1,
.art3 {
    background: url(../img/bright-background.jpg) no-repeat center center/ cover;
    margin-right: 50px;
}

.art2 {
    margin-left: 50px;
    background: url(../img/old-background.jpg) no-repeat center center/ cover;
}


.art1::before {
    content: "";
    background: url(../img/Fson.png) no-repeat center /  contain;
    width: 200px;
    height: 200px;

    position: absolute;
    top: -120px;
    left: -20px;
}

.art2::before {
    content: "";
    background: url(../img/Fdaugther.png) no-repeat center / contain;
    width: 250px;
    height: 250px;

    position: absolute;
    top: -150px;
    right: 0;
}


.content-box {
    margin-top: 20px;
    padding: 15px;
}

.daniel1 {
    width: 60%;
    height: 60%;
}

.daniel2 {
    display: none;
    width: 40%;
    height: 40%;
}

.img2 {
    width: 40%;
    height: 40%;
}

.dasom {
    display: none;
    width: 40%;
    height: 40%;
}

.daniel2.active {
    display: block;
}

.dasom.active{
    display: block;
}

img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}



.daniel1.clicked,
.img2.clicked,
.img3.clicked{
    transform: rotateY(180deg);
    transition: 1s;
}

.daniel1.clicked.grow {
    display: none;
}

.img2.clicked.grow{
    display: none;
}




.img-msg,
.img-msg2 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFC0CB;


    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 100;

    display: none;
}

.img-msg p,
.img-msg2 p {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 10px;
}


.img-msg.active,
.img-msg2.active {
    display: block;
}

.img-msg.active + .dim,
.img-msg2.active + .dim {
    display: block;
    z-index: 99;
}



.dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}


.gallery {
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background: url(../img/galleryBackground.jpg) no-repeat center center / cover;
    font-family: 'KCCMurukmuruk';
    color:  #333333;
}

.gallery h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.photo-grid {
    display: grid;
      grid-template-areas:
        "a a  b b "
        " a a  b b "
        " c c  d d "
        " c c  d d "
        " f f  e e "
        " f f  e e "
        " g g  h h "
        " g g  h h "
        " j j  i i "
        " j j  i i ";
        gap : 10px 20px;
    justify-items: center;
    align-items: center;
    
    

    }

.a1,
.b2,
.c3,
.d4,
.e5,
.f6,
.g7,
.h8,
.i9,
.j10 {
    border: 2px solid gray;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.a1 {
    grid-area: a;
    position: relative;
}

.b2 {
    border: 0;
    grid-area: b;
}

.c3 {
    grid-area: c;
}

.d4 {
    grid-area: d;
}

.e5 {
    grid-area: f;
}

.f6{
    border: 0;
    grid-area: e;
}

.g7 {
    
    grid-area: g;
}

.h8 {
    grid-area: h;
}

.i9 {
    grid-area: j;
}

.j10 {
    grid-area: i;
}

.finish {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

footer {
    text-align: center;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: burlywood; 
    color: black; 
    cursor: pointer; 
    padding: 5px; 
    border-radius: 10px; 
    font-size: 24px;
    font-family: 'KOTRAHOPE';
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }



@media (max-width: 720px) {
    .art1,
    .art2,
    .art3 {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .img-msg,
    .img-msg3 {
        position: absolute;
        top: 50%;
        left: 10%;
    }

    .img-msg2{
        position: absolute;
        top: 10%;
        left: 10%;
    }

    .art1,
    .art3 {
    margin-right: 0;
    }

    .art2 {
        margin-left: 0;
    }

    

}

@media (max-width: 500px) {
    .text-box::after {
        
        top: 30%;
        right: -30%;
        transform: translateY(10px); 
    }
}

@media (max-width: 370px) {
    .text-box::after {
        
        top: 30%;
        right: -40%;
        transform: translateY(10px); 
    }
}